<div id="select-playlist" ng-show="{{ isUserLoggedIn }}">
	<form>
		<input type="text" ng-model="linkListAccessKey" placeholder="Select playlist">
		<input class="btn" type="submit" ng-click="selectLinkList()" value="Select">
		<input class="btn add-btn" type="submit" ng-click="addLinkList()" value="+">
	</form>
</div>
<div id="playlist-menu">
	<li ng-repeat="linkList in linkLists">
		{{}}
		<linkList
			linklistid="linkList.id"
			linklistaccesskey="linkList.linkListAccessKey"
			></linkList>
	</li>
</div>