body {
	font-family: 'Helvetica' !important;
}

h1 {
	position: relative;
	display: block;
	margin-left: 20px !important;
	color: #FF0066;
}

h4 {
	color: #8C8C8C;
	font-weight: 500;
	font-size: large;
}

.small-margin-left {
	margin-left: 8px !important;
}

.small-margin-right {
	margin-right: 8px !important;
}

.small-margin-top {
	margin-top: 8px !important;
}

.small-margin-bottom {
	margin-bottom: 8px !important;
}



input[type="text"] {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(178, 178, 178, 0.3);
	height: 30px;
	font-weight: 300;
	padding: 10px;
	font-size: 15px !important;
}

#login-form {
	display: block;
	width: 38%;
}

#login-form.facebook-login img {
	display: block;
	width: 38%;	
}

#playlist-menu {
	display: block;
	width: 25%;
	margin: 0 auto;
}

#select-playlist {
	display: block;
	width: 25%;
	margin: 0 auto;
}

#link-list-attributes {
	display: block;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	color: #8C8C8C;
}

#link-list-attributes p {
	display: inline-block;
}

#link-list {
	display: block;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	color: #8C8C8C;
}

.btn {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(178, 178, 178, 0.3);
	border-radius: 5px;
	background-color: transparent;
	color: #FF0066;
	position: relative;
	height: 30px;
	top: -1px;
	font-weight: 300;
	font-family: Helvetica !important;
	font-size: 15px !important;
	line-height: 1px;
}

.btn:hover {
	color: white;
	background-color: #FF0066;
}

.add-btn {
	line-height: 2px !important; 
}

ul {
	display: block;
	padding: 0;
}
ul li {
	list-style-type: none;
}

.link {
	height: 50px;
}

.link p, .link-list p {
	position: relative;
	margin-left: 10px;
	display: inline-block;
	padding: 10px;
	color: #8C8C8C;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(178, 178, 178, 0.3);
	border-radius: 5px;
}

.link-list i {
	cursor: hand;
}

.link p:hover {
}

.link i {
	cursor: hand;
	margin-top: 2px;
	color: #8C8C8C;
}

.link i.fa-times {
	position: relative;
	float: right;
	margin-right: 4px; 
	margin-top: 2px;
}

.link i.fa-arrow-right {
	margin-right: 8px;
}

.link i.fa-hand-o-up {
	margin-right: 2px;
}

.link i.fa-download {
	margin-right: 8px;
}

.link .artist-name {
}

.link .song-name {
}

.link .song-url {
	max-width: 250px;
}

.access-link {
	color: #08e004 !important;
}

.download-link {
	color: #0aadff!important;
}

.delete-link {
}

.font-weight {
	font-weight: 300;
}