body {
	font-family: 'Helvetica';
}

h1 {
	position: relative;
	display: block;
	margin-left: 20px !important;
	color: #FF0066;
}

h4 {
	color: #8C8C8C;
	font-weight: 500;
	font-size: large;
}

input[type="text"] {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(178, 178, 178, 0.3);
	height: 30px;
	font-weight: 300;
	padding: 10px;
}

#link-list-attributes {
	display: block;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}
#link-list {
	display: block;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.btn {
	border: none;
	color: white;
	background-color: #FF0066;
	position: relative;
	height: 30px;
	top: -1px;
	font-weight: 300;
}

ul {
	display: block;
	padding: 0;
}
ul li {
	list-style-type: none;
}

.link {
	height: 50px;
}

.link p {
	position: relative;
	margin-left: 10px;
	display: inline-block;
	background-color:rgba(178, 178, 178, 0.15);
	padding: 10px;
	color: #8C8C8C;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.link p:hover {
	background-color: #8C8C8C;
	color: white;
}

.link i {
	cursor: hand;
	margin-top: 2px;
}

.link i.fa-times {
	position: relative;
	float: right;
	margin-right: 4px; 
	margin-top: 2px;
}

.link .artist-name {
}

.link .song-name {
}

.link .song-url {
	max-width: 300px;
}

.font-weight {
	font-weight: 300;
}